
#carouselExampleControls {
    margin-top: 55px;
  }


table.table-bordered,
table.table-bordered > thead > tr > th,
table.table-bordered > tbody > tr > td {
    border:1px solid black;
}

.fas {
  position: absolute;
  transform: translate(10px, 10px);
}

.far {
  font-weight: 700;
}

.far span {
  font-family: Arial;
}

.h-name {
  font-weight: 700;
}

h2,
footer {
  margin-top: 3%;
}

/**************************
**********footer***********
**************************/

footer {
  font-size: .8rem;
}

footer a {
  color: inherit;
  display: block;
}


/**************************
*****image with hover******
**************************/

#fellows .card {
  max-width: 20rem;
  position: relative;
}

#fellows figure {
  margin: 0;
}

#fellows figure img {
  opacity: 0.6;
}

#dead-fellon-img {
  opacity: 0.2;
}

.fellon-name,
.fellon-dead {
  position: absolute;
  width: 85%;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  bottom: 0;
  font-size: 3rem;
  color: #fff;
  top: 150px;
}

.reward {
  position: absolute;
  width: 85%;
  top: 20px;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right: auto;
  z-index: 10;
  font-size: 1rem;
}

.reward h3 {
  margin: 0 auto;
  text-align: center;
  background: rgba(225, 225, 225, 0.6);
  border-radius: 10px;
  padding: 5px;
  font-weight: normal;
}

.reward span {
  color: #ff6600;
}

#fellows .card:hover > figure img {
  opacity: 1;
}

#fellows .card:hover > .fellon-name {
  font-size: 2em;
  top: 200px;
}

#fellows .card:hover > .reward {
  display: none;
}
